/* Main stylesheet for portfolio project */
:root {
  --main-color: #353535;
  --accent-color: #0cc4c6;
  --heading-color: #e5554e;
}

html {
  font-size: 62.5%;
}

body {
  margin: 20px auto;
  padding-right: 2em;
  padding-left: 2em;
  color: var(--main-color);
  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

hr {
  height: 3px;
  background-color: gray;
  border: none;
}

h2 {
  color: var(--heading-color);
  font-weight: 300;
  font-size: 2.4rem;
  font-family: "Open+Sans", sans-serif;
  text-transform: uppercase;
}

.site-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--accent-color);
}

.site-header .logo {
  width: auto;
  height: 80px;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.site-header h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: 300;
  font-size: 4.8rem;
  text-transform: uppercase;
}

.title-area {
  text-align: right;
}

.title-area p {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}

.main-nav li {
  margin: 8px 0 8px 20px;
}

.main-nav li a {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.main-content .hero {
  width: 100%;
  height: auto;
}
